################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/x64
/Server/x64
/x64/Debug
/x64/Release
/sqlite/x64/Debug
/sqlite-shell/x64/Debug
/sqlite/x64/Release
/sqlite-shell/x64/Release
*.user
