################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/x64
/Server/x64
/x64/Debug
/x64/Release
